#footer {
  position: relative;
  padding-top: 264px;
  padding-bottom: $main-spacing;
  @include main-spacing;

  .links {
    .wrapper {
      padding: 0;
      h3 {
        font-weight: 400;
        font-size: 15px;
        line-height: initial;
      }
      a {
        opacity: 0.5;
        line-height: 1.7;
        &:hover {
          @include blinker;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  #footer {
    padding-top: 125px;
    padding-bottom: 15px;

    .socialfollow {
      right: $main-spacing-mobile;
    }

    .links {
      padding-right: 0;
      padding-left: 0;
      .wrapper {
        .h3 {
          font-weight: 400;
          font-size: 16px;
        }
        .title {
          border-bottom-color: $focus-background;
        }
        .collapse-icons {
          color: $listing-background;
        }
        ul {
          padding-left: 15px;
          margin-top: 16px;
          li {

            font-size: 14px;
            a {
              padding: 5px 0;
              display: inline-block;
              width: 90%;
            }
          }
        }
      }


    }

  }
}