/* layout */
$header-height: 120px;
$header-height-mobile: 58px;
$header-logo-max-height: 33px;
$side-width: 214px;
$side-width-tablet: 114px;
$main-spacing: 34px;
$main-spacing-mobile: 25px;

/* font */
$primary-font-family: 'Noto Serif TC', serif;
$secondary-font-family: 'Averia Serif Libre', cursive;

$smaller-font-size: 12px;
$primary-font-size: 13px;

$primary-line-height: 1.2;
$bigger-line-height: 1.3;
$article-line-height: 1.8;

$smaller-letter-spacing: 0.2px;
$primary-letter-spacing: 0.6px;
$article-letter-spacing: 0.91px;
$extra-large-letter-spacing: 1.8px;

/* default variables */
$primary-color: #000;

/* link color */
$primary-link-color: #000;
$primary-link-hover: #0c2326;

/* background color */
$primary-background-color: #000;
$primary-background-hover: #0c2326;
$primary-background-disabled-hover: #7a7a7a;

/* ---- */

$highlight-color: #d72424;
$listing-title-color: #fff;
$listing-price-color: #b2b2b2;
$index-title-color: #fff;
$social-icon-color: #232323;

$primary-link-disabled-hover: #7a7a7a;
$listing-link-color: #fff;
$index-link-color: #fff;

$primary-background: #dad7d0;
$listing-background: #565553;
$overlay-background: rgba(0, 0, 0, .8);
$focus-background: rgba(0, 0, 0, 0.1);

/* seperator color */
$primary-seperator-color: #000;
$secondary-seperator-color: #aeaca6;
$tertiary-seperator-color: #989691;
$mobile-seperator-color: #c4c1bb;

/* z-index */
$primary-z-index: 100;
$bigger-z-index: 150;

$nav-symbol: '➳';
$icon-opacity: 0.5;






