msc-sidebar {
  --overlay-color: $overlay-background; /* 不知為何沒讀到 */
  --overlay-color: rgba(0, 0, 0, .8);
  --timing-function: cubic-bezier(0, 0, .21, 1);
  --duration: 233ms;
  --z-index: 1000;
}

msc-sidebar[open] nav {
  background: $primary-background;
}

msc-sidebar nav {
  width: 75vw;
  min-height: 100%;
  display: block;
  /*position: relative;*/
}

@media only screen and (max-width : 374px) {
  msc-sidebar nav {
    zoom: 0.85;
  }
}

msc-sidebar:not(:defined) {
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

#mobile_top_menu_msc_wrapper {

  font-family: $primary-font-family;

  h4 {
    background: initial;
  }

  .header {
    position: absolute;
    top: 21px;
    left: 0;
    width: 100%;
    height: 36px;
    border-bottom: 1px solid $mobile-seperator-color;
    a {
      display: inline-block;
      margin-left: 23px;
    }
  }

  .body {
    position: absolute;
    top: 15%;
    width: 100%;
    a {
      color: $primary-link-color;
    }
  }

  .top-menu {
    li {
      padding-left: 40px;
      &:hover {
        background: $focus-background;
      }
    }
    a {
      position: relative;
      color: $primary-link-color;
    }
    .current, .on {
      & > a {
        color: $primary-link-color;
        &:before {
          position: absolute;
          top: 12px;
          left: -18px;
          content: $nav-symbol;
          font-size: $primary-font-size;
        }
      }
    }
  }

  .user-info a {
    border: none;
    padding: 0;
  }

  .socialfollow {
    margin-top: 30px;
    margin-left: 50px;
  }

  .nav__section + .nav__section {
    margin-top: 25px;
    &:before {
      display: block;
      width: 10px;
      height: 1px;
      margin-left: 50px;
      margin-bottom: 30px;
      content: '';
      background-color: rgba(0, 0, 0, .3);
    }
  }

  .dropdown select {
    background: #dad7d0;
  }

  #_mobile_user_info,
  #_mobile_language_selector,
  #_mobile_currency_selector {
    margin-left: 40px;
  }

}

mdc-select {
  --theme-color: #565553; /* $listing-background */
  --label: rgba(0,0,0,.6);
  --border-color: rgba(142,142,142,.5);
  --border-color-hover: rgba(142,142,142,1);
  --bgcolor: rgba(245,245,245,.5);
  --bgcolor-hover: rgba(245,245,245,1);
}

